.testimonial-section {
    margin-top: 250px;
    scroll-margin-top: 350px;
}

.testimonial-section .section-heading {
    position: absolute;
    opacity: 0.01;
    right: 0;
    top: -75px;
    font-weight: 400;
    transition: all .5s ease-in-out;
}

.testimonial-section .text-body {
    padding-top: 12px;
    padding-right: 150px;
}

.testimonial-section .bottom-message {
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media screen and (992px <=width <=1199px) {
    .testimonial-section .testimonial-image {
        padding-top: 50px;
    }
}

@media screen and (width <=991px) {
    .testimonial-section .section-heading {
        display: none;
    }

    .testimonial-section .text-body {
        padding-right: 0;
        padding-top: 0;
    }

    .testimonial-section .testimonial-icon {
        padding-left: 80px;
    }

    .testimonial-section .bottom-message {
        padding-top: 0 !important;
    }

}