.testimonial-section {
    margin-top: 250px;
    scroll-margin-top: 350px;
}

.testimonial-section .section-heading {
    position: absolute;
    opacity: 0.03;
    right: 0;
    top: -75px;
    font-weight: 400;
}

.testimonial-section .text-body {
    padding-top: 15px;
}

.testimonial-section .bottom-message {
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.testimonial-section .testimonial-icon {
    position: absolute;
    top: 50px;
    right: 20px;
}

@media screen and (992px <=width <=1199px) {
    .testimonial-section .text-body {
        padding-top: 0 !important;
    }

    .testimonial-section .testimonial_main-row {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .testimonial-section .testimonial-icon {
        position: absolute;
        top: -50px;
        right: 20px;
    }

    .testimonial-section .testimonial-image {
        margin-top: 0;
    }
}

@media screen and (width <=991px) {
    .testimonial-section .section-heading {
        display: none;
    }

    .testimonial-section .text-body {
        padding-right: 0;
        padding-top: 0;
    }

    .testimonial-section .testimonial-icon {
        padding-left: 80px;
    }

    .testimonial-section .bottom-message {
        padding-top: 0 !important;
    }
}

@media screen and (width <= 767px) {
    .testimonial-section .bottom-message {
        padding-top: 10px !important;
        line-height: 0px;
    }

    .testimonial-section .text-body {
        text-align: center !important;
    }
}

@media screen and (width <=575px) {
    .testimonial-section {
        margin-top: 100px;
    }

    .testimonial-section .testimonial-image {
        width: 180px;
    }

    .testimonial-section .text-body {
        padding: 0 70px;
        text-align: center;
    }

    .testimonial-section .bottom-message {
        padding-top: 15px !important;
        line-height: 0px;
    }
    
    .testimonial-section .bottom-message span.text-heading {
        line-height: 18px;
    }
}

@media screen and (width <=425px) {
    .testimonial-section .testimonial-image {
        width: 150px;
    }

    .testimonial-section .text-body {
        padding: 0 25px;
    }
}

@media screen and (width <=375px) {
    .testimonial-section .testimonial-image {
        width: 130px;
    }

    .testimonial-section .text-body {
        padding: 0;
    }
}