header.main-header {
    background: linear-gradient(180deg, #F5F5F5 114.57%, rgba(255, 255, 255, 0) 186.33%);
}

.header-wraper h1 {
    margin-top: 150px;
    text-align: left;
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 42px;
}

.header-wraper p {
    text-align: justify;
    margin-top: 25px;
    font-size: 15px;
}

.header-2ndR {
    display: flex;
}

.header-2ndR h1 {
    margin-top: 60px;
    font-size: 30px;
}

.header-2ndR p {
    margin-top: -10px;
    font-size: 12px;
}

.header-image-side {
    position: absolute;
    right: 0;
    top: 70px;
    width: 100px;
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    .header-image {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1024px) {
    .header-image {
        margin-top: 80px;
        width: 510px;
    }
}

@media only screen and (max-width: 425px) {
    .header-image {
        /* margin-top: 80px; */
        width: 100%;
    }

    .header-wraper h1 {
        margin-top: 0;
    }

}