.contact-section {
    margin-top: 250px;
    position: relative;
    scroll-margin-top: 310px;
}

.contact-section .section-heading {
    position: absolute;
    opacity: 0.01;
    top: -140px;
    left: 550px;
}

.contact-section .contact-image {
    margin-top: 85px;
}

.contact-section .contact-form .form-select {
    opacity: 0.4;
    border: 1px solid var(--secondary-color);
    padding: 15px 20px;
}

.contact-section .contact-form .form-select option {
    opacity: 0.5;
}

.contact-section .contact-form .form-select:focus {
    box-shadow: none;
}

.contact-section .contact-form {
    margin-top: 65px;
}

.contact-section .contact-form .form-control {
    opacity: 0.5;
    border: 1px solid var(--secondary-color);
    padding: 15px 20px;
}

.contact-section .contact-form .form-control:focus {
    box-shadow: none;
}

.contact-form .contact-btn {
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    margin-top: 25px;
}

.contact-form .contact-btn-icon {
    font-size: 24px;
}

@media screen and (width <=991px) {
    .contact-section .section-heading {
        font-size: 140px;
        left: 150px;
    }

}