section.contact-section {
    margin-top: 250px;
    position: relative;
}

section.contact-section h1 {
    font-size: 165px;
    opacity: 0.04;
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: -25%;
    left: 25.5%;
}

.contact-section p {
    margin-left: 50px;
    font-size: 22.5px;
}

.contact-section h2 {
    font-size: 34px;
}

.contact-section .contact-image {
    width: 428px;
    position: relative;
    left: 124px;
    margin-top: 60px;
}

.contact-section .contact__PRG {
    position: relative;
    left: -50px;
}

.contact-section .contact-form .form-control {
    /* width: 400px; */
    opacity: 0.5;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    padding: 10px 20px;
}

.contact-section .contact-form .form-control::placeholder {
    font-size: 12px;
}

.contact-form .contact-btn {
    background: linear-gradient(225deg, #8BC5CB 47.4%, #51A8B1 100%);
    border-radius: 100px;
    color: #fff;
    border: none;
    margin-top: 25px;
    transition: all 300ms ease-in-out;
}

.contact-form .contact-btn:hover {
    background-position: 75px;
    transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 1200px) {
    section.contact-section h1 {
        left: 15%;
        width: 75%;
    }

    .contact-section .contact-image {
        left: 0;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 1024px) {
    section.contact-section h1 {
        font-size: 115px;
        left: 25%;
        width: 75%;
    }

    .contact-section .contact-image {
        left: 0;
    }

    .contact-section h2 {
        font-size: 28px;
    }

    .contact-section .contact__form {
        margin-top: 10px;
    }

    section.contact-section {
        margin-top: 150px;
    }

}

@media only screen and (max-width: 768px) {

    section.contact-section {
        margin-top: 250px;
    }

    section.contact-section h1 {
        font-size: 90px;
        top: -8%;
        left: 0;
        width: 100%;
    }

    .contact-section .contact-image {
        left: 0;
        width: 100%;
        margin-top: 50px;
    }

    section.contact-section .contact__form {
        position: relative;
        left: 10px;
    }

    section.contact-section .contact-btn {
        display: block;
        margin: auto;
        margin-top: 35px;
    }

    .contact-section .contact__PRG {
        /* left: 0; */
        margin-top: 25px;
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 425px) {
    section.contact-section h1 {
        font-size: 70px;
        top: -55px;
        left: 60px;
    }

    .contact-section .contact-image {
        display: flex;
        margin: auto;
        margin-top: 50px;
    }

    .contact-section .contact__PRG {
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
    }

    section.contact-section .contact__form {
        left: 0;
    }

}

@media only screen and (max-width: 375px) {
    section.contact-section h1 {
        font-size: 50px;
        top: -30px;
        left: 80px;
    }

    section.contact-section h2 {
        font-size: 24px;
    }

    .contact-section .contact-form .form-control {
        width: 100%;
    }
}