.portfolio-section {
    margin-top: 250px;
    scroll-margin-top: 170px;
}

.portfolio-section .portfolio-images {
    z-index: 2;
    transition: all .3s ease-in-out;
}

.portfolio-section .portfolio-images:hover {
    transform: scale(1.03);
}

.portfolio-section .section-heading {
    position: absolute;
    opacity: 0.01;
    top: -120px;
    left: 45px;
}

.portfolio-section .portfolio-btn {
    color: var(--white-color);
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    border: none;
    margin-top: 160px;
}

.portfolio-section .portfolio-btn-icon {
    font-size: 24px;
}

@media screen and (width <=991px) {
    .portfolio-section .section-heading {
        display: none;
    }
}