.about-section {
    margin-top: 150px;
    background: linear-gradient(213.9deg, #4697ba 0%, #afc4b5 100%);
    padding: 180px 0;
    scroll-margin-top: 65px;
}

.about-section .section-heading {
    position: absolute;
    opacity: 0.03;
    top: 120px;
    left: 200px;
}

.about-section .text-subHeading {
    padding: 0 350px;
}

.about-section .text-body {
    padding: 0 50px;
}

.about-section .about-btn {
    border: 1px solid var(--secondary-color);
}

.about-section .about-btn .btn-icon {
    font-size: 24px;
}

@media screen and (width <=1399px) {
    .about-section .text-subHeading {
        padding: 0 250px;
    }

    .about-section .text-body {
        padding: 0;
    }
}

@media screen and (width <=1199px) {
    .about-section .text-subHeading {
        padding: 0 160px;
    }
}

@media screen and (width <=991px) {
    .about-section {
        padding: 140px 0;
    }

    .about-section .section-heading {
        font-size: 140px;
        top: 95px;
        left: 0px;
    }

    .about-section .text-subHeading {
        padding: 0 40px;
    }

}

@media screen and (width <=767px) {
    .about-section .section-heading {
        font-size: 120px;
        top: 50px;
        left: 50px;
    }

    .about-section .text-subHeading {
        padding: 0;
    }
}