.about-section {
    margin-top: 150px;
    background: linear-gradient(213.9deg, #63a3be 0%, #a5baaa 50%);
    padding: 180px 0;
    scroll-margin-top: 65px;
}

.about-section .section-heading {
    position: absolute;
    opacity: 0.03;
    top: 120px;
    left: 200px;
}

.about-section .text-subHeading {
    padding: 0 350px;
}

.about-section .text-body {
    padding: 0 50px;
}

.about-section .about-btn {
    border: 1px solid var(--secondary-color);
}

.about-section .about-btn .btn-icon {
    font-size: 24px;
}

@media screen and (width <=1399px) {
    .about-section .text-subHeading {
        padding: 0 250px;
    }

    .about-section .text-body {
        padding: 0;
    }
}

@media screen and (width <=1199px) {
    .about-section .text-subHeading {
        padding: 0 160px;
    }
}

@media screen and (width <=991px) {
    .about-section {
        padding: 140px 0;
    }

    .about-section .section-heading {
        display: none;
    }

    .about-section .text-subHeading {
        padding: 0 40px;
    }
}

@media screen and (width <=767px) {
    .about-section .text-subHeading {
        padding: 0;
    }
}

@media screen and (width <=575px) {
    .about-section {
        background: none;
        margin-top: 0;
        padding: 60px 0 60px 0;
    }

    .about-section .text-heading {
        text-align: start;
    }

    .about-section .text-subHeading {
        text-align: start;
        padding-right: 70px;
    }

    .about-section .text-body {
        text-align: justify;
    }

    .about-section .about-btn {
        margin-top: 70px !important;
    }
}

@media screen and (width <=375px) {
    .about-section .text-subHeading {
        padding-right: 40px;
    }
}

@media screen and (width <=375px) {
    .about-section .text-subHeading {
        padding: 0;
    }
}