.navbar-header .navbar-collapse .nav-link {
    margin-right: 50px;
    color: var(--secondary-color);
}

.navbar-header .navbar-collapse .nav-link:hover {
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar-header .navbar-toggler {
    border: none;
    font-size: 30px;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.navbar-header .navbar-toggler.open {
    transform: rotate(180deg);
}

.navbar-header .header-btn {
    border: none;
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 20px;
    color: var(--white-color);
}

@media screen and (width <=991px) {
    .navbar-collapse {
        position: fixed;
        top: 97px !important;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 65%;
        height: 100vh !important;
        background-color: var(--white-color);
        transition: all 0.3s ease-in-out !important;
    }

    .navbar-collapse.collapsing {
        left: -100%;
        transition: all 0.3s ease-in-out !important;
    }

    .navbar-collapse.show {
        left: 0;
        transition: all 0.3s ease-in-out !important;
    }

    .navbar-toggler.collapsed .navbar-collapse {
        transition: left .3s ease-in-out;
    }

    .navbar-header .navbar .navbar-nav {
        margin-top: 60px;
        line-height: 40px;
    }

    .navbar-header .header-btn {
        margin-top: 15px;
    }

    .navbar-header .navbar-nav .nav-item {
        font-weight: 500;
        line-height: 34px;
    }

    .navbar-header .navbar-icon {
        color: #52658C;
        border: 1px solid;
        border-radius: 25px;
        padding: 6px;
        font-size: 30px;
        transition: all .3s ease;
    }

    .navbar-header .navbar-icon:hover {
        background: var(--primary-color);
        color: var(--white-color);
        border: var(--secondary-color);
    }

    .navbar-header .navbar-copyright .navbar-info .site_link {
        text-decoration: none;
        color: var(--secondary-color);
    }
}


@media screen and (width <=575px) {
    .header-logo {
        width: 130px;
    }

    .navbar-header .navbar-toggler {
        font-size: 24px;
    }

    .navbar-collapse {
        top: 88px !important;
    }

}

@media screen and (width <=375px) {
    .navbar-header .navbar-copyright .navbar-info {
        font-size: 14px;
    }
}

@media screen and (width <=320px) {
    .navbar-header .navbar-copyright .navbar-info {
        font-size: 12px;
    }
}