.main-footer {
    background: url(/src/assets/images/footer-bg.png) no-repeat center;
    background-size: cover;
    margin-top: 150px;
}

.main-footer .text-heading {
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.main-footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

.main-footer a:hover {
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-footer .footer-icon {
    color: #52658C;
    border: 1px solid;
    border-radius: 25px;
    padding: 6px;
    font-size: 30px;
    transition: all .3s ease;
}

.main-footer .footer-icon:hover {
    background: var(--primary-color);
    color: var(--white-color);
    border: var(--secondary-color);
}

.main-footer .footer-copyright {
    margin-top: 170px;
}

.main-footer .footer-copyright .site_link {
    transition: all .3s ease-in-out;

}

.main-footer .footer-copyright .site_link:hover {
    color: var(--primary-color);
}

@media screen and (width <=410px) {
    .main-footer .quick_links {
        padding: 0px !important;
    }

    .main-footer .what_we-do {
        padding: 0;
    }

    .main-footer .contact {
        padding: 0 !important;
    }
}