.services-section {
    margin-top: 250px;
}

.services-section .section-heading {
    position: absolute;
    opacity: 0.03;
    top: -100px;
    right: 0;
}

.services-section .card-parent {
    margin-top: 100px;
}

.services-section .card {
    background: transparent;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
}

.services-section .card-icons {
    position: absolute;
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    border-radius: 5px;
    padding: 25px;
    top: -50px;
    right: 50px;
}

.services-section .card-btn:hover {
    color: var(--secondary-color);
}

.services-section .card .card-title {
    padding-top: 50px;
}

@media screen and (width <=991px) {
    .services-section .section-heading {
        display: none;
    }

}
@media screen and (width <=575px) {
    .services-section .card-icons {
        left: 20px;
    }

    .services-section .card-btn {
        padding-top: 25px !important;
    }
}