section.services-section h1 {
    position: absolute;
    /* width: 100%; */
    background: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.04;
    font-size: 140px;
    /* margin-left: 150px; */
    top: -60px;
    left: 735px;
}


section.services-section h2 {
    font-size: 34px;
    margin-top: 100px;
}

section.services-section .card-parent {
    margin-bottom: 20px;
    margin-top: 100px;
}

section.services-section .card-body .card-icon {
    top: -40px;
    right: 49px;
    width: 80px;
}

section.services-section .card-body .icon-sm {
    width: 65px;
}

section.services-section .card-body .icon-lg {
    width: 78px;
}


section.services-section .card {
    background: linear-gradient(256.52deg, rgba(168, 208, 230, 0.1) 0%, rgba(62, 163, 183, 0.1) 100%);
    border-radius: 10px;
    padding-left: 15px;
    border: none;
    /* margin-bottom: 100px; */
}

section.services-section .card .card-title {
    font-size: 16px;
    padding-top: 50px;
}

section.services-section .card p {
    margin-top: 20px;
    font-size: 14px;
}

section.services-section .card .card-body a {
    color: #51A8B1;
    font-size: 14px;
    margin-top: 30px;
    display: block;
}

@media only screen and (max-width: 425px) {
    section.services-section h1 {
        font-size: 58px;
        margin-left: 25px;
        margin-top: -15px;
    }

    section.services-section .card {
        margin: 0;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 768px) {
    section.services-section h1 {
        font-size: 120px;
    }

    section.services-section .card {
        height: 100%;
    }


}
