body {
  font-family: "inter";
  color: #4A4A4A;
  font-size: 15px;
}

body a {
  color: #367076;
}

* ul li a:hover {
  color: #37435D;
}

body p {
  font-size: 14px;
}

/* background: #52658C; secondary */
/* #51A8B1; primary color */

/* * {
  border: 1px solid;
} */