@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "cera pro";
    src: url(/src/assets/fonts/CeraPro-Regular.ttf) format("truetype");
}

:root {
    --primary-color: linear-gradient(213.9deg, #52658C 0%, #367076 100.66%);
    --secondary-color: #4A4A4A;
    --white-color: #fff;
    --black-color: #000;
}

body {
    font-family: "cera pro", sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
}

.section-heading {
    font-weight: 400;
    font-size: 180px;
    line-height: 200px;
    color: var(--primary-color);
}

.text-heading {
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
}

.text-subHeading {
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}

.text-body {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.footer-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.text-justify {
    text-align: justify;
}

.btn {
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    padding: 2px;
}

.btn-w-147 {
    width: 147px;
}

.btn-w-175 {
    width: 175px;
}

.btn-w-227 {
    width: 227px;
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.pt-18 {
    padding-top: 18px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.lh-20 {
    line-height: 20px;
}

.lh-22 {
    line-height: 22px;
}

.lh-24 {
    line-height: 24px;
}

.lh-26 {
    line-height: 26px;
}

.lh-50 {
    line-height: 50px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}

.fs-34 {
    font-size: 34px;
}

.fs-36 {
    font-size: 36px;
}

.fs-38 {
    font-size: 38px;
}

.fs-40 {
    font-size: 40px;
}

.fs-42 {
    font-size: 42px;
}

@media screen and (width <=575px) {
    .text-heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    .text-body {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }

    .text-subHeading {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .btn-w-227 {
        width: 200px;
    }

    .fs-18 {
        font-size: 16px;
    }

    .pt-80 {
        padding-top: 45px !important;
    }
    
}