.header-image-side {
    position: absolute;
    right: -150px;
    top: -85px;
    width: 250px;
    z-index: -1;
}

@media only screen and (max-width: 920px) {
    .header-image {
        margin-top: 90px;
    }

    .header-image-side {
        right: -140px;
        top: -70px;
    }
}

@media only screen and (max-width: 768px) {
    .header-image-side {
        right: -200px;
        top: -50px;
    }
}
