.about_us-component .more_about-page {
    padding-top: 80px;
}

.about_us-component .more_about-page .section-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.03;
}

.about_us-component .more_about-page .text-heading {
    padding: 0 200px;
}

.about_us-component .more_about-page .text-body {
    padding: 0 50px;
}

.about_us-component .more_about-page .video-container {
    padding-top: 110px;
}

.about_us-component .more_about-page .desc-container {
    padding-top: 140px;
}

/* LOGOS SECTION */

.about_us-component .logos-section {
    padding-top: 25px;
}

/* LOGOS SECTION */

@media screen and (width <=991px) {
    .about_us-component .more_about-page {
        padding-top: 0;
    }

    .about_us-component .more_about-page .section-heading {
        display: none;
    }

    .about_us-component .more_about-page .text-heading {
        padding: 100px 0 0 0 !important;
    }

    .about_us-component .more_about-page .text-body {
        padding: 0;
    }
}