.creative-section {
    padding-top: 250px;
}

.creative-section .section-heading {
    position: absolute;
    opacity: 0.01;
    top: -125px;
    left: 80px;
}

@media screen and (width <=991px) {
    .creative-section .section-heading {
        display: none;
    }
}

@media screen and (width <=575px) {
    .creative-section .slick-slider .slick-next-content p {
        opacity: 0.2;
    }

    .creative-section .slick-slider .slick-next-content {
        filter: brightness(50%);
        padding: 50px 0;
    }

    .creative-section .slick-slider .slick-slide.slick-active.slick-slide .slick-next-content {
        position: relative;
        filter: brightness(100%);
        transform: scale(1.1);
        transition: all .3s ease-in-out;
        z-index: 50;
    }

    .creative-section .slick-slider .slick-slide.slick-active.slick-slide .slick-next-content p {
        opacity: 1;
    }
}