.creative-section {
    padding-top: 250px;
}

.creative-section .section-heading {
    position: absolute;
    opacity: 0.01;
    top: -125px;
    left: 80px;
}

@media screen and (width <=991px) {
    .creative-section .section-heading {
        display: none;
    }
}